<navbar></navbar>
<div class="pad">
    <div class="panel-heading" > Products</div>
                        
   
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label >Product Title</label>
            <input type="text" class="form-control" id="" >
          </div>
          <div class="form-group col-md-2 AR">
            <label >اسم المنتج</label>
            <input type="text" class="form-control" id="" >
          </div>
        <div class="form-group col-md-2">
            <label >Description</label>
            <textarea id='descEN' class="form-control" name="description"
                placeholder="Category description">
            </textarea>
            <p id="countEN">250</p>
        </div>
        <div class="form-group col-md-2 AR">
            <label>الوصف</label>
            <textarea class="form-control" name="descriptionAR"></textarea>
            <p id="">250</p>
        </div>
       
        <div class="form-group col-md-3">
            <label > Image</label>
            <input type="file" class="form-control-file" id="">
          </div>

        <div class="form-group col-md-2">
            <label > Price in JD</label>
            <input type="number" class="form-control" id="">
          </div>
          <div class="form-group col-md-2">
            <label > Price in SUR</label>
            <input type="number" class="form-control" id="">
          </div>
          <div class="form-group col-md-2">
            <label > Count</label>
            <input type="number" class="form-control" id="">
          </div>
         
        <div class="form-group col-md-3">
            <label  >Main Category</label>
            <select class="form-control" name="" >             
                <option  value="1">a</option>
                <option value="2">b</option>
                <option value="3">c</option>
            </select>
        </div>
        <div class=" col-md-2">
            <button type="button" class="btn btn-success">Add product</button>
        </div>
        </div>
      </form>                          

    
    
        <table class="table table-striped table-bordered ">
            <thead >
                <tr class="mid">
                <th class="ten"> Title </th>
                <th class="ten"> اسم المنتج </th>
                <th class="Fif" > Description </th>
                <th class="Fif"> الوصف </th>
                <th  class="ten"> Image </th>
                <th  > Price in JD </th>
                <th > Price in SUR </th>
                <th  class="six"> Count </th>
                <th  > Main Category </th>
                <th class="six" > Update </th>
                <th class="six" > Delete </th>
                </tr>
            </thead>
               
            </table>  
    
</div>
    
        