.pad {
    padding: 20px;
}
.panel-heading { font-size: 23px;
     height: 50px; 
     margin-bottom: 30px;
     border-bottom:1px solid  rgb(141, 141, 141);
     font-weight: bolder;
     text-align: center;
      color: rgb(31, 12, 12); 
      font-family: Georgia, 'Times New Roman', Times, serif ;}

.AR{
    text-align: right;
    direction: rtl;}

textarea {
    height: 60px; }
    
.btn{
 width: 100%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn:hover {
    font-size: 19px;
    background-color: #1e641bf8;
}

label{
    font-size: 18px;
}
.AR {
    direction: rtl;
    text-align: right;
}
select{
    height: 44px; 
    color: black;
    font-size:18px;
}
.ten{
    width: 9%;
}
.Fif {
    width: 13%;
}
.six{
    width: 4%;
}
.mid{
    text-align: center;
}
.sub-btn:hover {
    background-color: #19219bc5;
}