<navbar></navbar>
<div class="pad">
    <div class="panel-heading" > Orders</div>
                      
      <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label >From Date</label>
                <input type="date" class="form-control" id="" >
              </div>
        <div class="form-group col-md-2">
            <label >To Date </label>
            <input type="date" class="form-control" id="" >
          </div>
             
        <div class=" col-md-2">
            <button type="button" class="btn btn-success">View Orders</button>
        </div>
        <div class=" col-md-2">
        </div>     
        <div class=" col-md-4">
            <button type="button" class="btn btn-success">View All The Orders</button>
        </div>
        </div>
      </form>                          

    
    
        <table class="table table-striped table-bordered font">
            <thead >
                <tr class="mid">
                <th class="fif"> Products </th>
                <th style="width: 10%;" > User  </th>
                <th > Total Price </th>
                <th > Shipping Address </th>
                <th > Billing Address  </th>
                <th > Payment Method  </th>
                <th > Discount </th>
                <th > Status  </th>
                <th style="width: 9%;">  Admin </th>
                <th > Delete </th>
                </tr>
            </thead>
               
            </table>  
    
</div>