.filter-sidenav{
    width: 280px;
    border: 0 !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
    }
}
.filter-row{
    background: #fff;
    padding: 8px 12px;
}
.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
    margin: 8px -8px;
    .col{
        padding: 8px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    .mat-slider-horizontal{
        min-width: 110px;
    }
}

.filter-brands{
    button{
        width: 66px;
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
            height: 44px;
        }
    }
}
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-new {
    color: red;
}