.pad {
    text-align: center;
    padding: 20px;
}
.panel-heading { 
    font-size: 23px;
     height: 50px; 
     margin-bottom: 10px;
     border-bottom:1px solid  rgb(141, 141, 141);
     font-weight: bolder;
     text-align: center;
      color: rgb(31, 12, 12); 
      font-family: Georgia, 'Times New Roman', Times, serif ;}


.btn{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn:hover {
    font-size: 19px;
    background-color: #1e641bf8;
}
label{
    font-size: 18px;
}

.mid{
    text-align: center;
}
