<navbar></navbar>
<div class="pad">
    <div class="panel-heading" > Users</div>
                      
      <form>
        <div class="form-row">
          <div class=" col-md-4">
          </div>
          
        <div class=" col-md-4">
            <button type="button" class="btn btn-success">View All The Users</button>
        </div>
        <div class=" col-md-4">
        </div>
        
       
        </div>
      </form>                          

    
    
        <table class="table table-striped table-bordered ">
            <thead >
                <tr class="mid">
                <th> Username </th>
                <th > E-mail </th>
                <th > Phone Number </th>
                <th > Country </th>
                <th > Block </th>
                <th > Delete </th>
                </tr>
            </thead>
               
            </table>  
    
</div>