<navbar></navbar>
<div class="pad">
    <div class="panel-heading" > Categories</div>
                      
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label >Categoery Title</label>
            <input type="text" class="form-control" id="" >
          </div>
          <div class="form-group col-md-2 AR" >
            <label >اسم الصنف</label>
            <input type="text" class="form-control" >
          </div>
        <div class="form-group col-md-2">
            <label >Description</label>
            <textarea id='descEN' class="form-control" name="description"
                placeholder="Category description">
            </textarea>
            <p id="countEN">100</p>
        </div>
        <div class="form-group col-md-2 AR" >
            <label>الوصف</label>
            <textarea class="form-control" name="descriptionAR"></textarea>
            <p id="">100</p>
        </div>
        <div class="form-group col-md-2">
          <label > Image</label>
          <input type="file" class="form-control-file" id="">
        </div>
        <div class=" col-md-2">
            <button type="button" class="btn btn-success">Add Category</button>
        </div>
        </div>
      </form>                          

    
    
        <table class="table table-striped table-bordered ">
            <thead >
                <tr class="mid">
                <th> Title </th>
                <th > الصنف </th>
                <th > Description </th>
                <th > الوصف </th>
                <th  > Image </th>
                <th > Update </th>
                <th > Delete </th>
                </tr>
            </thead>
               
            </table>  
    
</div>
    
        