.pad {
    padding: 20px;
}
.panel-heading { font-size: 23px;
     height: 50px; 
     margin-bottom: 30px;
     border-bottom:1px solid  rgb(141, 141, 141);
     font-weight: bolder;
     text-align: center;
      color: rgb(31, 12, 12); 
      font-family: Georgia, 'Times New Roman', Times, serif ;}

.AR{
    text-align: right;
    direction: rtl;}

textarea {
    height: 50px; }
    
.btn{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:hover {
    font-size: 19px;
    background-color: #1e641bf8;
}
.mid{
    text-align: center;
}
