@import "~bootstrap/dist/css/bootstrap.css" ;
.green{
    background-color: rgb(65, 153, 65);
    color: white;
}

  a {
      color: #ffffff;
      font-size: 16px;
  }
  li{     
      padding-left: 20px; 
  }
.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
      color: #ffffff;

}

a:hover {
    color: white;
    font-size: 18px;
}