<navbar></navbar>
<div class="pad">
    <div class="panel-heading" > Discount Codes</div>
                        
   
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label >Code</label>
            <input type="text" class="form-control" id="" >
          </div>
          <div class="form-group col-md-2 ">
            <label >precentage</label>
            <input type="number" class="form-control" id="" >
          </div>
    
    
        <div class=" col-md-2">
            <button type="button" class="btn btn-success">Add Discount code</button>
        </div>
        </div>
      </form>                          

    
    
        <table class="table table-striped table-bordered ">
            <thead >
                <tr class="mid">
                <th > Code </th>
                <th >  precentage </th>
                <th> Update </th>
                <th> Delete </th>
                </tr>
            </thead>
               
            </table>  
    
</div>
    
        